<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ouroboros">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".model.room.SesionRoom"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.maps.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.session.LoginActivity" />
        <activity android:name=".activities.session.RegistryActivity" />
        <activity android:name=".activities.my_topics.AddTopicActivity" />
        <activity android:name=".activities.my_topics.MyTopicDetailActivity" />
        <activity android:name=".activities.topics.TopicDetailActivity" />
        <activity android:name=".activities.my_topics.EditTopicActivity" />
        <activity android:name=".activities.my_topics.AddCouplingActivity" />
        <activity android:name=".activities.my_topics.MyPostTopicsActivity" />
        <activity android:name=".activities.my_topics.RequestTopicActivity" />
        <activity android:name=".activities.my_topics.MyRequestTopicsActivity" />
        <activity android:name=".activities.my_topics.MyRequestTopicActivity" />
        <activity android:name=".activities.my_topics.CoupledTopicDetailActivity" />
        <activity android:name=".activities.topics.CouplingTopicDetailActivity" />
        <activity
            android:name=".activities.account.UpdatePasswordDialog"
            android:theme="@android:style/Theme.Holo.Dialog"></activity>
    </application>

</manifest>


<!--Pegar justo al lado de MainActivity:

            android:theme="@style/AppTheme.NoActionBar"
-->
